*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

#cont{
    /*Hace que salga pantalla completa*/
    max-width: 100%;
    border-radius: 2%;
    padding-left: 20%;
}

.delete_subray{
    text-decoration: none;
}

aside{
    padding-bottom: 5%;
    padding-top: 5%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    -webkit-text-stroke: 1px rgb(255, 255, 255);

}
