*{
    margin: 0%;
    padding: 0%;
    /*box-sizing: border-box;*/
}

#cont{  
    /*Hace que salga pantalla completa*/
    max-width: 100%;
}

#titulo{
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

#gradient_h {
    background: linear-gradient(to left, rgb(255, 251, 0), rgba(245, 214, 73, 0.541));
}
