.head{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    border: 1px solid yellow;
    background-color: yellow;
}

.tittle{
    display: flex;
    justify-content: center;
}

.text{
    display: flex;
    text-align: center;
}

.button{
    display: flex;
    justify-content: left;
    width: 15%;
}


