#cont{
    border: 1px solid rgb(94, 94, 94);
    margin-top: 11.5%;
    background-color: rgb(235, 231, 231);
}


header{

    background-color: rgb(255, 255, 25);
    /* 2da opción background-color: rgb(255, 255, 58);/*
    /*background-color: rgb(255, 255, 62);*/
    border-bottom: 1px solid rgb(94, 94, 94);
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}