

*{
    margin: 0;
    padding: 0;
}

.cont{
    /*Aparece el container centrado*/
    height: 100vh;

    /*Aparecen centrado de manera horizontal y vertical*/
    display: flex;
    justify-content: center;
    align-items: center;

    /*Hace que se separen un poco los container, entre columnas*/
    gap: 20px;
    margin-top: 30%;
    margin-bottom: 0%;
}

/*
#cont1, #cont2, #cont3{
    margin-top: 0%;
}*/


/*Para que cada carta se separe abajo*/
#carta_1{
    margin-bottom: 40%;

}

.img_{
    height: 40%;
    width: 20%;

    /*Hace que la imagen tome todo el espacio, 
    y que el texto aparezca abajo*/
    position: absolute;

    /*Hace que la imagen aparezca un poco mas afuera)*/
    transform: translateY(-20px);

    border-radius: 5px;

    /*Aparece una transición al pasar, si no está, al pasar el mouse se abre mas rapido*/
    transition: 400ms ease-in-out;

    /*Si no está, el texto de abajo aparece en la imagen al pasar el mause y al quitarlo*/
    z-index: 1;  
}

.carta{
    /*Es lo que va atrás, lo blanco*/

    height: 200px;
    width: 240px;
    background-color: rgb(255, 255, 255);

    /*Lo centra*/
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;

    /*Estos tres, hacen que aparezca lo de atrás, el diseño de atrás,
    Si no está, igual se despliega, pero no se ve el diseño de afuera*/
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow:2px 2px 5px 0px  rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 5px 0px  rgba(0, 0, 0, 0.75);
    
    /*Aparece una transición al pasar, si no está, al pasar el mouse se abre mas rapido*/
    transition: 400ms ease-in-out;

    /*Al momento de pasar el mouese, se coloque como una manito, si no esta, queda el mause normal(como una flecha)*/
    cursor: pointer;
}



._1carta{
    /*Es lo que va atrás, lo blanco*/

    height: 200px;
    width: 240px;
    background-color: rgb(255, 255, 255);

    /*Lo centra*/
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;

    /*Estos tres, hacen que aparezca lo de atrás, el diseño de atrás,
    Si no está, igual se despliega, pero no se ve el diseño de afuera*/
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow:2px 2px 5px 0px  rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 5px 0px  rgba(0, 0, 0, 0.75);
    
    /*Aparece una transición al pasar, si no está, al pasar el mouse se abre mas rapido*/
    transition: 400ms ease-in-out;

    /*Al momento de pasar el mouese, se coloque como una manito, si no esta, queda el mause normal(como una flecha)*/
    cursor: pointer;
}


.letra{
    font-size:100%;
    color: black;
    text-decoration: none;
}

/*Para que aparezca el texto centrado*/
.text-container{
    width: 200px;
    text-align: center;
    transition: 400ms ease-in-out;
}

/*Es para que se despliegue lo de abajo, si no está, la imagen 
es la unica que se despliegua hacia arriba y el texto aparece ahí mismo*/
.carta:hover{
    height: 180px;
}

/*Es para que al momento de colocar el mouse, la imgen y la carta se despluiegue */
.carta:hover .img_{
    transform: translateY(-70px);
}

/*Para que el texto se despliegue*/
.carta:hover .text-container{
    transform: translateY(20px);
}

