*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

#cont{
    /*Hace que salga pantalla completa*/
    max-width: 100%;
    

    position: relative;
    display: inline-block;
    text-align: center;
}

h1, strong{
    align-items: center;
    color: rgb(0, 0, 0); 
    display:flex;
    font-size: 270%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content: center;
    line-height: 300%;
    text-align: center;
    -webkit-text-stroke: 1px rgb(255, 255, 255);

    position: absolute;
    top:17%;
    left: 18%;

}


.marca-de-agua {
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;

}
.marca-de-agua img {
    width: 30%;
    height: 50%;
    opacity: 0.2;
}

