*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

main{
    margin: 1%;
    border: 1px solid black;
}

#titulo{
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
    text-align: center;
    padding-top: 2%;
}

#tit{
    text-align: center;
}

h5{
    text-align: end;
}

#sub_t{
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: end;
    padding-top: 2%;
}

h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
