*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

#cont{
    /*Hace que salga pantalla completa*/
    max-width: 100%;
}

header{
    background:linear-gradient(rgb(255, 255, 255), gold);
}

#titulo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 900;
    padding-right: 8%;
}

#ft_perfil{
    font-size: 400%;
    display: flex;
    justify-content: end;
    margin-right: 1%;
}

#formulario{
    background-color: rgba(243, 239, 239, 0.596);
    /*background-color: rgba(243, 239, 239, 0.164);*/
    border: 1px solid rgba(0, 0, 0, 0.199);
    padding-top: 2%;
    padding-bottom: 1%;
    margin-bottom: 1%;
}

#bot{
    margin-bottom: 1%;
}

footer{
    background:linear-gradient(gold, rgb(255, 255, 255));
    /*position: absolute;*/
    bottom: auto;
    width: 100%;
}

#texto{
    text-align: center;
    justify-content: center;
    display: flex;
    font-size: 50%;
    padding-bottom: 0.5%;
    padding-top: 0.5%;
    font-weight: 500;
}