*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

#cont{
    /*Hace que salga pantalla completa*/
    max-width: 100%;
}


#gradient_h {
    background: linear-gradient(to left, rgb(255, 251, 0), rgba(245, 214, 73, 0.541));
}

#titulo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 900;
    padding-right: 8%;
}

#ft_perfil{
    font-size: 400%;
    display: flex;
    justify-content: end;
    margin-right: 1%;
}

.delete_subray{
    text-decoration: none;
    color: black;
}

#tabla, thead, tbody{
    border-style: none; 
    border-collapse:collapse;
    border-color: rgb(0, 0, 0);
}
