#cont{
    display: contents;
}

header{
    background-color: rgba(255, 251, 0, 0.774);
}

#ft_perfil{
    font-size: 400%;
    display: flex;
    justify-content: end;
    margin-right: 1%;
}

#caja_txt{
    margin-left: 10%;
}

#btn_txt{
    border: 1px solid black;
    background-color: rgba(255, 251, 0, 0.918);
}

#n_user{
    font-size: 200%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#create_user{
    color: black;
    font-size: 70%;
}

#tabla{
    border-style: solid;
    border-collapse:collapse;
    border-color: rgb(187, 187, 187);
}

#btn_asoc{
    color: black;
    border: 1px solid black;
    margin-left: 19%;
}

.delete_subray{
    text-decoration: none;
    color: black;
}